!!!

%html{:lang => "en"}
  %head
    %title My awesome gallery

    %style{:type => "text/css", :media => "screen,projection"} @import "c/gallery.css";
    %style{:type => "text/css", :media => "screen,projection"} @import "c/jquery.lightbox-0.5.css";
  %body

    #page-wrapper
      %header
        %h1> My awesome gallery
        %h2> It totally rocks!

      %article#thumbnails
        %ul
          - images.each do |image|
            %li>
              %a{:href => image[:image]}>
                %img{:src => image[:thumbnail]}>

    %script{:type => "text/javascript", :src => "http://jscdn.net/jquery.js"}
    %script{:type => "text/javascript", :src => "j/jquery.lightbox-0.5.pack.js"}
    %script{:type => "text/javascript"} $(function(){$('#thumbnails a').lightBox();});

